* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: aqua;
    text-align: center;
    padding: 5px;
}

img {
    width: 100%;
}

.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 50%;
}